/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
    &--thin {
        height: $cta-thin-height;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        color: $white;
        a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            padding: 0 $spacing-unit--tiny;
        }
    }
}